<div class="control-bar space-between">
  <div>
    <button
      mat-raised-button
      color="primary"
      (click)="xlsFileIPicker.click()"
      [style]="'margin-right: 16px'"
    >
      <span class="text-with-loading-indicator"
        >Protokoll Laden
        <mat-progress-spinner
          *ngIf="verfugbarkeitsInfosAreLoading"
          diameter="20"
          mode="indeterminate"
          color="accent"
        ></mat-progress-spinner>
      </span>
      <mat-icon>upload</mat-icon>
    </button>
    <input
      #xlsFileIPicker
      [hidden]="true"
      [type]="'file'"
      [accept]="'.csv'"
      (change)="onStammdatenExcelFileSelected($event, 'new')"
    />
    <button mat-raised-button color="primary" (click)="xlsFileIPicker2.click()">
      <span class="text-with-loading-indicator"
        >Protokoll Hinzufügen
        <mat-progress-spinner
          *ngIf="verfugbarkeitsInfosAreLoading"
          diameter="20"
          mode="indeterminate"
          color="accent"
        ></mat-progress-spinner>
      </span>
      <mat-icon>add</mat-icon>
    </button>
    <input
      #xlsFileIPicker2
      [hidden]="true"
      [type]="'file'"
      [accept]="'.csv'"
      (change)="onStammdatenExcelFileSelected($event, 'add')"
    />
  </div>
  <div>
    <mat-form-field [style]="'margin-right: 32px; width: 256px'">
      <mat-label>115-Informationen Basis-URL</mat-label>
      <input
        type="text"
        placeholder="115-Informationen Basis-URL"
        aria-label="string"
        matInput
        [(ngModel)]="leistungsInfoBaseURL"
        (keydown.enter)="filterSessions()"
      />
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      (click)="onDownloadFilteredSessionsClicked()"
    >
      <span>Sessions Herunterladen</span>
      <mat-icon>download</mat-icon>
    </button>
  </div>
</div>
<div class="control-bar">
  <mat-form-field class="date-picker">
    <input
      matInput
      [matDatepickerFilter]="datePickerFilter"
      [matDatepicker]="datePicker"
      [value]="dateFilter"
      (dateChange)="onDateFilterChanged($event)"
    />
    <mat-label>Datum</mat-label>
    <mat-datepicker-toggle
      matIconSuffix
      [for]="datePicker"
    ></mat-datepicker-toggle>
    <mat-datepicker #datePicker></mat-datepicker>
  </mat-form-field>
  <mat-form-field [subscriptSizing]="'dynamic'">
    <mat-label>Sprachen</mat-label>
    <select
      matNativeControl
      [value]="languageFilter"
      (change)="onLanguageFilterChanged($event)"
    >
      <option [value]="''" [defaultSelected]="true">Alle</option>
      @for (value of languages; track $index) {
      <option [value]="value.name">{{ value.name }} ({{ value.count }})</option>
      }
    </select>
  </mat-form-field>
  <mat-form-field [subscriptSizing]="'dynamic'">
    <mat-label>Inhalte</mat-label>
    <select
      matNativeControl
      [value]="sessionSourceFilter"
      (change)="onSessionSourceFilterChanged($event)"
    >
      <option [value]="''" [defaultSelected]="true">Alle</option>
      @for (value of sessionSources; track $index) {
      <option [value]="value.name">{{ value.name }} ({{ value.count }})</option>
      }
    </select>
  </mat-form-field>
  <mat-form-field [subscriptSizing]="'dynamic'">
    <mat-label>Länge</mat-label>
    <select
      matNativeControl
      [value]="sessionLengthFilter"
      (change)="onSessionLengthFilterChanged($event)"
    >
      <option [value]="''" [defaultSelected]="true">Alle</option>
      @for (value of sessionLengths; track $index) {
      <option [value]="value.name">{{ value.name }} ({{ value.count }})</option>
      }
    </select>
  </mat-form-field>
  <mat-checkbox
    [(ngModel)]="showOnlySessionsWithFeedback"
    (change)="filterSessions()"
    >Nur mit Feedback</mat-checkbox
  >
</div>

<div class="control-bar">
  <div>
    Zeitraum:
    <b
      >{{ earliestDate | date : "mediumDate" }} -
      {{ latestDate | date : "mediumDate" }}</b
    >
  </div>
  <div>
    Anzahl Sessions: <b>{{ sessionCount }}</b>
  </div>
  <div>
    Mit Nutzereingaben:
    <b>{{ filteredChatbotSessions.length }}</b>
  </div>
  <div>
    Mit positivem Nutzerfeedback:
    <b style="color: rgb(29, 135, 29)">{{ positiveUserFeedbackCount }}</b>
  </div>
  <div>
    Mit negativem Nutzerfeedback:
    <b style="color: rgb(195, 56, 56)">{{ negativeUserFeedbackCount }}</b>
  </div>
</div>
<mat-tab-group>
  <mat-tab label="Sessions">
    <div class="control-bar">
      <div class="pagination">
        <div>Seite:</div>
        <button
          mat-icon-button
          color="primary"
          (click)="onShowPreviousPageClicked()"
          [disabled]="page === 1"
        >
          <mat-icon>arrow_back</mat-icon>
        </button>
        {{ page }} ({{ (page - 1) * pageSize + 1 }} - {{ page * pageSize }} )
        <button
          mat-icon-button
          color="primary"
          (click)="onShowNextPageClicked()"
          [disabled]="filteredChatbotSessions.length < page * pageSize"
        >
          <mat-icon>arrow_forward</mat-icon>
        </button>
      </div>
    </div>
    <div class="tab-content">
      <div class="type-results-container">
        <div>
          <ng-container *ngFor="let sessionInfo of shownChatbotSessions">
            <div class="session">
              Session {{ sessionInfo.sessionId }} ({{
                sessionInfo.date | date : "mediumDate"
              }})
            </div>
            <ng-container *ngFor="let item of sessionInfo.infos">
              <div class="infos">
                <div class="user-input-container">
                  <div class="user-input-date">
                    {{ item.date | date : "h:mm:ss" }}
                  </div>
                  <mat-icon
                    [class]="'highlighted'"
                    *ngIf="
                      item.userInput === 'startSession' ||
                      item.userInput === 'resetSession'
                    "
                    >face</mat-icon
                  >
                  <mat-icon
                    [class]="'highlighted'"
                    *ngIf="item.userInput === 'hideWidget'"
                    >clear</mat-icon
                  >
                  <mat-icon
                    [class]="'highlighted'"
                    *ngIf="item.userInput === 'closeChatbot'"
                    >logout</mat-icon
                  >
                  <span
                    [class]="item.isUserSelectAction ? 'highlighted' : ''"
                    *ngIf="
                      item.userInput !== 'startSession' &&
                      item.userInput !== 'resetSession' &&
                      item.userInput !== 'closeChatbot' &&
                      item.userInput !== 'hideWidget'
                    "
                    >{{ item.userInput }}</span
                  >
                </div>
              </div>
              <ng-container *ngIf="item.botAnswer">
                <div
                  *ngIf="!item.botAnswer.metadata.mappedUserInput"
                  class="bot-answer-container"
                  [innerHTML]="item.botAnswer.content"
                ></div>
                <mat-expansion-panel
                  *ngIf="item.botAnswer.metadata.mappedUserInput"
                  class="bot-answer-container"
                >
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <div
                        class="bot-answer-title"
                        [innerHTML]="
                          item.botAnswer.metadata.mappedUserInput ||
                          item.botAnswer.content.substring(0, 70)
                        "
                      ></div>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div [innerHTML]="item.botAnswer.content"></div>
                </mat-expansion-panel>
              </ng-container>
              <div class="feedback-container" *ngIf="item.userFeedback">
                <mat-icon
                  *ngIf="item.userFeedback === 'good'"
                  [ngClass]="item.userFeedback"
                  >thumb_up</mat-icon
                >
                <mat-icon
                  *ngIf="item.userFeedback === 'bad'"
                  [ngClass]="item.userFeedback"
                  >thumb_down</mat-icon
                >
                <div
                  [class]="'feedback ' + item.userFeedback"
                  *ngIf="item.userFeedbackText"
                >
                  {{ item.userFeedbackText }}
                </div>
              </div>
            </ng-container>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="control-bar">
      <div class="pagination">
        <div>Seite:</div>
        <button
          mat-icon-button
          color="primary"
          (click)="onShowPreviousPageClicked()"
          [disabled]="page === 1"
        >
          <mat-icon>arrow_back</mat-icon>
        </button>
        {{ page }} ({{ (page - 1) * pageSize + 1 }} - {{ page * pageSize }} )
        <button
          mat-icon-button
          color="primary"
          (click)="onShowNextPageClicked()"
          [disabled]="filteredChatbotSessions.length < page * pageSize"
        >
          <mat-icon>arrow_forward</mat-icon>
        </button>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Analyse">
    <div style="margin-top: 32px">
      <h3 style="text-align: center">Sprachverteilung</h3>
      <canvas
        baseChart
        [data]="languageChart.data"
        [options]="languageChart.options"
        [type]="languageChart.type"
      >
      </canvas>
    </div>
    <div style="margin-top: 32px">
      <h3 style="text-align: center">Tageszeitliche Verteilung</h3>
      <canvas
        baseChart
        [data]="timeChart.data"
        [options]="timeChart.options"
        [type]="timeChart.type"
      >
      </canvas>
    </div>
    <div style="margin-top: 32px">
      <h3 style="text-align: center">Tägliche Sessions</h3>
      <canvas
        baseChart
        [data]="dailyChart.data"
        [options]="dailyChart.options"
        [type]="dailyChart.type"
      >
      </canvas>
    </div>
    <div style="margin-top: 32px">
      <h3 style="text-align: center">
        Erzeugte KI-Ausgaben pro Session @if (aiResponsesAverage) {(Ø{{
          aiResponsesAverage
        }})}
      </h3>
      <canvas
        baseChart
        [data]="lengthChart.data"
        [options]="lengthChart.options"
        [type]="lengthChart.type"
      >
      </canvas>
    </div>
    <div style="margin-top: 32px; margin-bottom: 128px">
      <h3 style="text-align: center">Inhalte</h3>
      <canvas
        baseChart
        [data]="sourceOriginChart.data"
        [type]="sourceOriginChart.type"
      >
      </canvas>
      <canvas baseChart [data]="contentChart.data" [type]="contentChart.type">
      </canvas>
      <div style="margin-top: 16px; text-align: center">
        <button
          mat-flat-button
          color="primary"
          (click)="onDownloadSourcesAsCSVClicked()"
        >
          Download
          <mat-icon>arrow_downward</mat-icon>
        </button>
      </div>
    </div>
    <div style="margin-top: 32px; margin-bottom: 128px">
      <h3 style="text-align: center">Leikas</h3>
      <div style="margin-top: 16px; text-align: center">
        <button
          mat-flat-button
          color="primary"
          (click)="onLoadLeikasClicked()"
          [disabled]="sessionCount < 1"
        >
          Leikas Laden
        </button>
      </div>
      <canvas baseChart [data]="leikaChart.data" [type]="leikaChart.type">
      </canvas>
      <div style="margin-top: 16px; text-align: center">
        <button
          mat-flat-button
          color="primary"
          (click)="onDownloadLeikasAsCSVClicked()"
        >
          Download
          <mat-icon>arrow_downward</mat-icon>
        </button>
      </div>
      <h3 style="text-align: center">Lebenslagen</h3>
      <canvas baseChart [data]="lagenChart.data" [type]="lagenChart.type">
      </canvas>
      <div style="margin-top: 16px; text-align: center">
        <button
          mat-flat-button
          color="primary"
          (click)="onDownloadLagenAsCSVClicked()"
        >
          Download
          <mat-icon>arrow_downward</mat-icon>
        </button>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
