<mat-toolbar>
  <div class="title">
    <img class="logo" src="/assets/115_logo_modern.png" />
    <span class="logo-text">115-Toolkit</span>
    <a [routerLink]="['/fundstellen']">
      <span>Fundstellen</span>
    </a>
    <a [routerLink]="['/verteiler']">
      <span>Verteiler</span>
    </a>
    <a [routerLink]="['/verfuegbarkeits-check']">
      <span>Verfügbarkeitscheck</span>
    </a>
    <a [routerLink]="['/marken-bekanntheits-umfrage']">
      <span>Markenbekanntheitsumfrage</span>
    </a>
    <a [routerLink]="['/chatbot-auswertungen']">
      <span>Chatbot-Auswertungen</span>
    </a>
    <a [routerLink]="['/ki-chatbot']">
      <span>KI-Chatbot</span>
    </a>
    <a [routerLink]="['/tnk']">
      <span>TNK</span>
    </a>
  </div>
</mat-toolbar>
<div>
  <router-outlet></router-outlet>
</div>
