<mat-toolbar>
  <div class="title">
    <img class="logo" src="/assets/115_logo_modern.png" />
    <span class="logo-text">115-Toolkit</span>
    <a [routerLink]="['/leistungs-suche']">
      <span>Mockup Suchoberfläche</span>
    </a>
    <a [routerLink]="['/administration']">
      <span>Administration</span>
    </a>
    <a [routerLink]="['/fundstellen']">
      <span>Fundstellen</span>
    </a>
    <a [routerLink]="['/verteiler']">
      <span>Verteiler</span>
    </a>
    <a [routerLink]="['/verfuegbarkeits-check']">
      <span>Verfügbarkeitscheck</span>
    </a>
    <a [routerLink]="['/marken-bekanntheits-umfrage']">
      <span>Markenbekanntheitsumfrage</span>
    </a>
    <a [routerLink]="['/chatbot']">
      <span>Chatbot</span>
    </a>
  </div>
</mat-toolbar>
<div>
  <router-outlet></router-outlet>
</div>
