<mat-toolbar>
  <div class="title">
    <img class="logo" src="/assets/115_logo_modern.png" />
    <span class="logo-text">115-Toolkit</span>
    <a [routerLink]="['/fundstellen']">
      <span [class]="url.includes('fundstellen') ? 'active' : ''"
        >Fundstellen</span
      >
    </a>
    <a [routerLink]="['/website']">
      <span [class]="url.includes('website') ? 'active' : ''">Website</span>
    </a>

    <a [routerLink]="['/chatbot']">
      <span [class]="url.includes('chatbot') ? 'active' : ''">Chatbot</span>
    </a>
    <a [routerLink]="['/tnk']">
      <span [class]="url.includes('tnk') ? 'active' : ''">TNK</span>
    </a>
    <a [routerLink]="['/other']">
      <span [class]="url.includes('other') ? 'active' : ''">Zusätzliches</span>
    </a>
  </div>
</mat-toolbar>
<div>
  <router-outlet></router-outlet>
</div>
