.title {
    flex: 1 1;
    display: flex;
    align-items: end;
    gap: 32px;
}

.logo {
    width: 64px;
}

.logo-text {
    // color: #b70000;
    margin-right: 256px;
}

mat-toolbar {
    height: 80px;
    align-items: end;
    padding-bottom: 16px;
}

a {
    text-decoration: none;
    color: #673ab7;
    transition: 0.3s;
    font-size: large;
}

a:hover {
    color: #af80ff;
}