<div class="page-container">
  <div class="control-bar">
    <mat-tab-group>
      <!-- <mat-tab label="Download">
        <app-fundstellen-download></app-fundstellen-download>
      </mat-tab> -->
      <mat-tab label="Auswertung">
        <app-fundstellen-auswertung></app-fundstellen-auswertung>
      </mat-tab>
      <!-- <mat-tab label="Logs">
        <div class="tab-content">
          <app-fundstellen-logs></app-fundstellen-logs>
        </div>
      </mat-tab> -->
    </mat-tab-group>
  </div>
</div>
