<div class="control-bar">
  <button mat-raised-button color="primary" (click)="xlsFileIPicker.click()">
    <span>Verteiler Öffnen</span>
  </button>
  <input
    #xlsFileIPicker
    [hidden]="true"
    [type]="'file'"
    [accept]="'.xlsx'"
    (change)="onVerteilerExcelFileSelected($event)"
  />
  <button
    mat-raised-button
    color="primary"
    (click)="onSaveDataToExcelFileClicked()"
  >
    <span>Exportieren</span>
  </button>
</div>
<div class="results-container">
  <b style="text-align: center">Verteiler-Arten</b>
  <div class="type-results-container">
    <div *ngFor="let item of verteilerService.kontaktInfos">
      {{ item.Teilnehmer }}{{ item.Nachname }}
    </div>
  </div>
</div>
