<div class="control-bar">
  Temporary on ice... Download ist nicht so einfach wie gedacht wegen CORS und
  Browser-Security-Limitationen.
  <!-- <mat-form-field>
    <input
      type="text"
      placeholder="Fundstellen-URL eingeben..."
      aria-label="text"
      matInput
      [(ngModel)]="fundstellenURL"
    />
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="logFileIPicker.click()">
    <span>Download</span>
  </button>
  <input
    #logFileIPicker
    [hidden]="true"
    [type]="'file'"
    webkitdirectory
    (change)="downloadFiles($event)"
  /> -->
</div>
<div class="results-container"></div>
